
.mainmenuborder{
    border-bottom: 1px solid rgb(224, 216, 216);
    padding-top: 7px;
    padding-bottom: 7px;
}
.company_name_heading
{
    text-align:center;
    font-size: 30px; 
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}