<ion-tabs>
      <ion-tab-bar slot="bottom">
            <ion-tab-button tab="home" (click)='click_home_tab()'>
                  <ion-icon name="home-outline"></ion-icon>
                  <ion-label>Home</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="menu" (click)='click_mainmenu_tab()'>
                  <ion-icon name="menu-outline"></ion-icon>
                  <ion-label>Menu</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="wishlist" (click)='click_wishlist_tab()'>
                  <ion-icon name="heart-outline"></ion-icon>
                  <ion-label>Wish List</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="morelist" (click)='click_more_tab()'>
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                  <ion-label>More</ion-label>
            </ion-tab-button>
      </ion-tab-bar>
</ion-tabs>