

.whishlistborder{
    border-bottom: 1px solid rgb(224, 216, 216);
    margin-top: 5px;
    padding:0%;
}
.addremovebuttontopborder{
    border-top: 1px solid rgb(224, 216, 216);
    border-left: 1px solid rgb(224, 216, 216);
    border-right: 1px solid rgb(224, 216, 216);
  } 
  .addremovebuttonbottomborder{
    border: 1px solid rgb(224, 216, 216);
  } 

  
.addremovebuttonborder{
    border: 1px solid rgb(224, 216, 216);
    text-align: center;
    margin-right: 5px;
  }
  .bottomRow
{
  margin-top: -10px;
}  
